@import "../../assets/styles/setup.scss";

.voyages-page {
  @include wrapper;

  &__title {
    @include wrapper;
    @extend %header-font-family;
    max-width: 638px;
    font-size: #{(38 / 14) * 1rem};
  }

  &__intro-text {
    @include wrapper;
    max-width: 638px;
  }
}
