@import "./../../assets/styles/setup";

.three-link {
  display: flex;
  width: 100vw;
  flex-direction: column;

  @media (min-width: 960px) {
    flex-direction: row;
  }

  &__link {
    @extend %header-font-family;

    position: relative;
    display: flex;
    height: calc(13.7216828vw + 124.5436893px);
    min-height: 176px;
    max-height: 388px;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    border: 1px solid #979797;
    background-color: $color-primary;
    color: $color-background;
    font-size: #{(30 / 16) * 1rem};
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link-line {
    position: relative;
    z-index: 0;

    &::after {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      display: block;
      width: #{(300 / 320) * 100vw};
      max-width: 320px;
      height: .4em;
      background-color: $color-primary-light;
      content: "";
      opacity: 0;
      pointer-events: none;
      transform: translateX(-50%) translateY(-25%) scaleX(0);
      transition: all 200ms ease-in-out;
    }
  }

  &__link:hover &__link-line::after {
    opacity: .38;
    transform: translateX(-50%) translateY(-25%) scaleX(1);
  }
}
