@import "../../../assets/styles/setup.scss";

.book {
  $_breakpoint: 1024;
  $_parent: &;

  padding: my-margin-calculation();

  @media(min-width: $_breakpoint * 1px) {
    padding: 0 my-margin-calculation();
    display: flex;
    justify-content: center;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey;
  }

  &__cover-container {
    padding: my-margin-calculation();

    @media(min-width: $_breakpoint * 1px) {
      padding-top: my-margin-calculation();
      align-self: center;
      text-align: center;

      #{$_parent}:nth-child(2n + 1) & {
        padding-left: 0;
      }

      #{$_parent}:nth-child(2n) & {
        order: 2;
      }
    }
  }

  &__cover {
    @media(min-width: $_breakpoint * 1px) {
      // width: #{(260 / 1920) * 100vw};
      width: 20vw;
    }
  }

  &__content-container {
    padding: my-margin-calculation();

    @media(min-width: $_breakpoint * 1px) {
      padding: my-margin-calculation() 0;
      border-left: 1px solid $color-grey;

      #{$_parent}:nth-child(2n) & {
        margin-left: my-margin-calculation();
      }
    }
  }

  &__title-container {
    @media(min-width: $_breakpoint * 1px) {
      width: #{(466 / 1920) * 100vw};
    }
  }

  &__link {
    font-size: #{(12 / 14) * 1em};
    padding: 1em 2em;
    border-top: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    text-decoration: none;
    color: $color-primary;
    display: inline-block;
    line-height: 1;
    margin: #{(50 / 1920) * 100vw} 0;
  }

  &__title {
    text-transform: uppercase;
    font-size: #{(9 / 14) * 1em};

    @media(min-width: $_breakpoint * 1px) {
      display: inline;
      background-color: $color-secondary-light;
      padding: 0;
    }
  }

  &__title-text {
    font-size: 2em;
  }

  &__body {
    @media(min-width: $_breakpoint * 1px) {
      width: #{(466 / 1920) * 100vw};
    }
  }
}
