@import "../../assets/styles/setup.scss";

.article-page {
  $_breakpoint: 1024;

  @include wrapper;

  padding-top: 98px;

  &__title {
    @include wrapper;

    @extend %header-font-family;

    font-size: #{(32 / 14) * 1rem};

    @media (min-width: $_breakpoint * 1px) {
      width: #{(629 / 1920) * 100vw};
    }
  }

  &__part {
    @include wrapper;

    img {
      max-width: 100%;
    }

    @media (min-width: $_breakpoint * 1px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__part-image {
    @media (min-width: $_breakpoint * 1px) {
      width: 100%;
    }

    &--first {
      @media (min-width: $_breakpoint * 1px) {
        max-width: #{(500 / 1920) * 100vw};
      }

      order: 2;
    }

    &--second {
      @media (min-width: $_breakpoint * 1px) {
        max-width: #{(391 / 1920) * 100vw};
        margin-right: #{(109 / 1920) * 100vw};
      }

      align-self: center;
    }
  }

  &__part-image-caption {
    padding-top: 10px;
    font-size: .85em;
    letter-spacing: .1em;
    line-height: 1.8em;
    opacity: .7;
  }

  &__first-part-text {
    @media (min-width: $_breakpoint * 1px) {
      max-width: #{(629 / 1920) * 100vw};
      flex: 1 1 #{(629 / 1920) * 100vw};

      p:first-child {
        margin-top: 0;
      }
    }
  }

  &__hero {
    width: 100vw;
    margin-left: calc(50% - 50vw);

    @media (min-width: $_breakpoint * 1px) {
      width: auto;
      margin-top: #{(86 / 1920) * 100vw};
      margin-right: my-margin-calculation();
      margin-left: auto;
    }
  }

  &__second-part {
    @include wrapper;

    @media (min-width: $_breakpoint * 1px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__second-part-text {
    @media (min-width: $_breakpoint * 1px) {
      max-width: #{(629 / 1920) * 100vw};
      flex: 1 1 #{(629 / 1920) * 100vw};
      order: 2;
      padding: #{(86 / 1920) * 100vw};
      background-color: $color-background;
      transform: translateY(#{(200 / 1920) * -100vw});
    }
  }
}
