@import "../../assets/styles/setup.scss";

.site-header {
  padding: 40px #{70 / 1920 * 100vw} 0;
  min-height: 82px;
  padding-right: 73px;
  display: flex;
  align-items: stretch;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  top: 0;

  &__logo {
    width: #{(165 / 1920) * 100vw};
    min-width: 165px;
    height: #{(54 / 1920) * 100vw};
    min-height: 54px;
    fill: $color-primary;
    position: relative;
    z-index: 1;

    &--is-light {
      fill: $color-white;
    }
  }

  &::after {
    border-top: 1px solid $color-primary;
    flex: 2 2;
    content: '';
    display: block;
    opacity: 0;
    transition: opacity 800ms;
    margin: 0 38px;

    @media (min-width: 500px) {
      opacity: 1;
    }
  }
}
