.gallery {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
  }

  &__list-wrapper {
    width: #{(1270 / 1920) * 100vw};
    height: #{(649 / 1920) * 100vw};
    overflow: hidden;

    @media (min-width: 1920px) {
      width: 1270px;
      height: 649px;
    }
  }

  &__list-item {
    background-size: cover;
    background-repeat: 0;
    flex-shrink: 1;
    flex-grow: 0;
  }

  &__image {
    filter: saturate(0);

    &--is-active {
      filter: saturate(100%);
    }
  }
}
