// COLORS

$color-primary: #002537;
$color-primary-light: #698694;

$color-secondary: #f3a935;

$color-secondary-light: #f8edd4;

$color-white: #fff;
$color-background: #fff9ec;
$color-grey: #cdcdcd;
